.containerinputmargin {
    align-items: center;
    margin-top: -25px;

}

.stylelabel {
    color: yellow;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    font-size: 15px;
}

