.container {
    width: 100%;
    height: 100%;

}

.containercriarlembrete {
    display: flexbox;
    /* border: 1px solid red; */
    width: 50%;
    height: 75%;
    position: absolute;
    left: 25%;
    top: 18%;
}


.containertittle {
    /* border: 1px solid red; */
    width: 98%;
    height: 10%;
    margin: 8px
}

.containernomelembrete {
    /* border: 1px solid red; */
    width: 98%;
    height: 7%;
    margin-left: 8px;
    margin-top: 30px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding-bottom: 15px;
}

.containernomelembrete2 {
    /* border: 1px solid red; */
    width: 98%;
    height: 12%;
    margin-left: 8px;
    margin-top: 30px;
    color: rgb(255, 255, 255);
    padding-bottom: 10px;
    /* border-radius: 5px; */
    /* border-color: grey; */
}

.styleinput {
    width: 99%;
    height: 88.5%;
    background-color: #0f1011;
    border-radius: 5px;
    border-color: grey;
    color: white;
}

.styleparagrafo {
    margin: 1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.containerimportante {
    /* border: 1px solid red; */
    width: 98%;
    height: 5%;
    margin-left: 8px;
    margin-top: 30px;
    color: rgb(255, 255, 255);
}

.containerenviarlembrete {
    /* border: 1px solid red; */
    width: 98%;
    height: 7%;
    margin-left: 8px;
    margin-top: 30px;
    color: rgb(255, 255, 255);
}

.stylebuttonenviar {
    position: absolute;
    left: 45.5%;
    top: 92%;
    border-radius: 5px;
    background-color: yellow;
    color: rgb(0, 0, 0);
    width: 100px;
    height: 30px;
}

/* smartphones */

@media (width: 414px) and (height: 896px) {

    .h1_userbar {
        position: absolute;
        left: 1%;
        top: 40%;
    }

    .Imgstyle {
        position: absolute;
        left: 30.5%;
        top: 29%;
    }

    .links_style {
        text-decoration: none;
        position: absolute;
        right:2%;
        top: 5%;
    }

    a {
        text-decoration: none;
        color: yellow;
        margin-right: 2px;
    }

    .containercriarlembrete {
        width: 300px;
        position: absolute;
        left: 12%;
    }
   

    .containertittle {
        border: 1px solid red;
        width: 400px;


    }

    h1 {
        margin-right: 100px;

    }
}