.container {
    width: 100%;
    height: 100%;
}

.container_settings {
    border: 1px solid rgb(19, 18, 18);
    border-radius: 10px;
    width: 90%;
    height: 80%;
    margin-left: 5%;
    margin-top: 3%;
}

.container_fotoperfil {
    /* border: 1px solid red; */
    width: 350px;
    height: 100%;

}

.style_fotoperfil {
    border: 1px solid rgb(22, 21, 21);
    margin-left: 22%;
    margin-top: 15%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.style_imgprofile {
    /* border: 1px solid red; */
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.style_inputfile {
    display: none;
}

.style_span {
    border: 1px solid rgb(0, 0, 0);
    width: 150px;
    height: 20px;
    margin-left: 120px;
    margin-bottom: 2px;
    text-align: center;
    position: absolute;
    color: yellow;
    background-color: #474545;
    border-radius: 5px;
    display: block;
}

.style_fotodeperfil {
    position: absolute;
    top: 56.4%;
    left: 5.6%;
}

.container_userinf {
    border: 1px solid rgb(66, 64, 64);
    width: 70%;
    height: 75%;
    border-radius: 5px;
    position: absolute;
    left: 24.5%;
    top: 21.5%;
    background-color: #2f2f312f;
}

.container_inputs {
    width: 98%;
    height: 90%;
    align-items: center;
    align-content: center;
    margin-right: 25%;
}

.Imgstyle {
    position: absolute;
    left: 2%;
    top: 4.25%;
}

h4 {
    position: absolute;
    left: 15%;
}

.style_inputs {
    border: 2px solid black;
    width: 620px;
    height: 35px;
    border-radius: 5px;
    background-color: #19191a;
    color: rgb(236, 231, 231);
    margin-left: 30%;
    margin-bottom: 60px;
}

.container_tittle {
    border: 1px solid #474545;
    width: 100%;
    height: 45px;
    border-radius: 5px;
}

.style_tittle {
    text-align: center;
    color: yellow;
    margin-top: 10px;
    /* border: 1px solid black; */
}

.container_input_arquivofoto {
    /* border: 1px solid red; */
    position: absolute;
    bottom: 42%;
    left: 7.5%;
}


/* .container_buttonsalvar {
  
} */


.button_salvarconfigs {
    /* border: 1px solid yellow; */
    color: yellow;
    width: 120px;
    height: 30px;
    border-radius: 10px;
    background-color: #474545;
    position: absolute;
    top: 90%;
    left: 7%;
}

.style_embreve {
    color: red;
}